<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAQAcquisitionService" />
        <binding name="BasicHttpBinding_IAquariusPublishService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAQAcquisitionService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://d-mdm4/AQUARIUS/AQAcquisitionService.svc/basic"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAQAcquisitionService"
          contract="AcquisitionService.IAQAcquisitionService" name="BasicHttpBinding_IAQAcquisitionService" />
      <endpoint address="http://d-mdm4/AQUARIUS/AQAcquisitionService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAQAcquisitionService"
          contract="AcquisitionService.IAQAcquisitionService" name="WSHttpBinding_IAQAcquisitionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://d-mdm4/AQUARIUS/Publish/AquariusPublishService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAquariusPublishService"
          contract="PublishService.IAquariusPublishService" name="BasicHttpBinding_IAquariusPublishService" />
    </client>
  </system.serviceModel>
</configuration>